body {
    font-family: 'Montserrat' !important;
    letter-spacing: 0.5px;
    animation: fadeInAnimation ease 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

#or-section {
    width: 100%;
    height: 12px;
    border-bottom: 1px solid rgb(155, 155, 155);
    text-align: center
}

#or-section #or-label {
    background-color: #ffffff;
    padding: 0 10px;
    color: rgb(155, 155, 155)
}

#email-address {
    background-color: #f7f7f7;
}

#email-address:focus {
    border-color: #949494;
}

#password {
    background-color: #f7f7f7;
}

#password:focus {
    border-color: #949494;
}

#first-name {
    background-color: #f7f7f7;
}

#first-name:focus {
    border-color: #949494;
}

#last-name {
    background-color: #f7f7f7;
}

#last-name:focus {
    border-color: #949494;
}